/*COLORS*/
:root {
    --lighter-blue: #e7f1ff;
    --light-blue: #c3dbff;
    --blue: #83aef1;
    --txt-gray: #6c757d;
}

/*GENERALS*/
.nav {
    background-color: var(--lighter-blue);
    overflow: auto;
    height: 400px;
}

.hideBlock {
    display: none;
}

.last-clicked-btn-border {
    box-shadow: 0px 0px 1px 4px #cdcfd2 !important;
}
/*SIDE PANEL*/

#side-panel {
    box-shadow: 0 0 18px 0 rgb(22 45 61 / 27%);
    border-radius: 8px;
    overflow: auto;
    background-color: #fff;
    z-index: 1105;
    padding: 6px;
    flex-direction: column;
    width: 15%;
    height: calc(100vh - 115px);
    margin-top: 13.5px;
    position: absolute;
    margin-left: 70px;
}

#side-panel-close-btn {
    position: absolute;
    right: 0;
    font-size: 11px;
}

.side-panelBtn {
    background-color: var(--blue);
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
}

    .side-panelBtn:hover {
        background-color: var(--light-blue);
        cursor: pointer;
    }

.disableBtn {
    background-color: #e9ecef;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    color: #adb5bd;
}

/*CARDS DESIGHN*/

#outPanel {
    top: 20px;
    left: 170px;
}

.card {
    width: 400px;
    top: 15px;
    left: 18%;
    border: none;
    box-shadow: 0 0 18px 0 rgb(22 45 61 / 27%);
    position: absolute;
    z-index: 100;
}

.card-heading {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--txt-gray)
}

.card-heading-txt {
    width: 100%;
}

.card-heading-minimizeBtn {
    width: fit-content;
    padding: 0 10px;
    opacity: .5;
}

    .card-heading-minimizeBtn:hover {
        opacity: 1;
    }

.accordion-body {
    padding: 0;
}

    .accordion-body ul {
        list-style: none;
    }

.card-inner-nav .accordion-item, .accordion-item {
    background-color: #fff;
    border: none;
}

.card-catagory-txt {
    padding: 10px;
    font-weight: 400;
    border-top: 1px solid;
    border-radius: 0px !important;
}

.card-catagory-buttom-border {
    border-bottom: 1px solid;
}

.card-heading button {
    font-size: 13px;
}

.card-heading .accordion-button {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
}

    .card-heading .accordion-button:not(.collapsed)::after {
        background-image: url('../icons/minimize.svg');
    }

.elementsGallery {
    width: 100%;
    overflow: auto;
    height: 400px;
}

    .elementsGallery h3 {
        font-size: 16px;
        font-weight: 100;
        color: #6c757d;
        border-bottom: 1px solid #c6bfbe;
        width: 75%;
        margin-left: 10px;
        margin-top: 15px;
    }

.nav-item .accordion-body ul {
    padding: 8px;
    background-color: var(--lighter-blue);
    font-size: 13px;
    font-weight: 100;
    border: none;
}

    .nav-item .accordion-body ul li {
        margin: 10px 0px;
        color: var(--txt-gray);
    }

        .nav-item .accordion-body ul li a {
            text-decoration: none;
        }

.accordion-item:last-of-type .accordion-button.collapsed {
    background-color: var(--lighter-blue);
    font-size: 15px;
    font-weight: 100;
    color: var(--txt-gray);
    border: none;
}

.accordion-button:not(.collapsed) {
    font-size: 15px;
    font-weight: 100;
    border: none;
}

.store-contant {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appsList {
    padding: 0;
    margin-top: 15px;
    color: var(--txt-gray);
}

.apps {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #e9ecef;
    margin: 10px;
}

.accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--blue);
    color: white;
}

/*SCROLLBAR*/

/*scroll bar panel*/
/* width */
#side-panel::-webkit-scrollbar, .elementsGallery::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#side-panel::-webkit-scrollbar-track, .elementsGallery::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#side-panel::-webkit-scrollbar-thumb, .elementsGallery::-webkit-scrollbar-thumb {
    background: var(--light-blue);
}

    /* Handle on hover */
    #side-panel::-webkit-scrollbar-thumb:hover, .elementsGallery::-webkit-scrollbar-thumb:hover {
        background: var(--blue);
    }

/*scroll bar elementsGallery*/

/*nav card scroll*/
.card-nav::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.card-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.card-nav::-webkit-scrollbar-thumb {
    background: #dee2e6;
}

    /* Handle on hover */
    .card-nav::-webkit-scrollbar-thumb:hover {
        background: var(--light-blue);
    }

/*GALLERY BTN*/

.galleryBtn {
    padding: 5px;
    width: 40%;
    text-align: center;
    margin: 10px 10px;
    font-size: 12px;
    outline: none;
}

    .galleryBtn:active {
        position: relative;
        top: 1px;
    }

.btn-after-drop {
    width: 110.5px;
}

/*Themed Buttons*/
.ThemedBtn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
}

    .ThemedBtn:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
    }

/*Text & Icons Buttons*/
.t-iBtn {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

    .t-iBtn:hover {
        background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color: #378de5;
    }

/* Icons Buttons*/
.i-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

    .i-btn:hover {
        background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color: #019ad2;
    }



/*Pay Buttons*/
.p-btn {
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

    .p-btn:hover {
        background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color: #378de5;
    }

/*PayPal Buttons*/

.pl-btn {
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
}

    .pl-btn:hover {
        background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
        background-color: #80b5ea;
    }

.pl-absolute {
    position: absolute !important;
}
